* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow-y: hidden;
}

#map {
    width: 100%;
    height: 100%;
}

.sidenav-container-open {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-color: white;
    z-index: 600;
    gap: 8px;
    padding-top: 8px;
    overflow-y: auto;
}

.sidenav-container-closed {
    display: none;
}

.button-toggle-sidenav {
    position: absolute;
    display: flex;
    bottom: 12px;
    left: 0;
    z-index: 600;
}

.button-toggle-sidenav>button {
    border: none;
    background-color: white;
    width: 50px;
    height: 50px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-image: url('./assets/icons/arrow_forward_ios_black_24dp.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.button-toggle-sidenav-open {
    left: 400px;

}

.button-toggle-sidenav-open>button {
    background-image: url('./assets/icons/arrow_back_ios_black_24dp.svg');
    background-repeat: no-repeat;
    background-position: center;
}


.button-toggle-sidenav-closed {
    left: 0;
}

.button-toggle-sidenav-closed>button {
    background-image: url('./assets/icons/arrow_forward_ios_black_24dp.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    word-break: break-word;
    background-color: rgb(231, 231, 231);
    height: fit-content;
    margin: 0px 8px;
    border-radius: 8px;
    padding: 8px;
    gap: 8px;
}

.title {
    font-weight: bold;
    font-size: small;
}

.value{
font-size: medium;

}

/* override leaflet css */

.leaflet-control-attribution {
    padding: 2px 8px !important;
    border-radius: 4px !important;
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-color: white !important;
    margin-right: 6px !important;
}

.leaflet-control-zoom {
    background-color: white !important;
    border: none !important;
    border-radius: 4px !important;
}

.leaflet-control-layers {
    border: none !important;
    background-color: white !important;

}

